body {
  padding-top: 110px;
  padding-bottom: 20px;
}

.navbar-default {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    /*background-color: #FF5050;*/
    border-width: 0px;
    background-color: #FFCC00;
}

.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    padding-right: 50px;
    padding-left: 50px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
    font-style: italic;
    font-size: 30px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
